.sesiones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
    gap: 20px;
    max-width: 1400px;
    width: 100%;
}
.sesiones img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}